/* styles.css */

.right-align {
    margin-left: auto; /* Pushes the item to the right */
}

.welcome-text {
    font-weight: bold;
    font-size: 18px;
}
.bold-link {
    font-weight: bold;
    background-color: #ADD8E6; /* Light Blue */
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px; /* Adds space between the links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bold-link:hover {
    background-color: #008000; /* green on hover */
    color: white; /* Text color changes to white on hover */
}

.bold-link-logout {
    font-weight: bold;
    background-color: #FFCCCC; 
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px; /* Adds space between the links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bold-link-logout:hover {
    background-color: #FF0000; 
    color: white; /* Text color changes to white on hover */
}

.btn-custom {
  	color: black;
    font-weight: bold;
    border: 2px solid black; /* Add a black border */
    background-color: #00CED1;
    text-decoration: none; /* Remove underline from the link */
    padding: 10px 20px;
    border-radius: 25px; /* Make the button more rounded */
    transition: background-color 0.3s ease;
    margin: 50px auto;
    text-align: center;
}

.add-todo-btn{
    text-align: center;
}

.btn-custom:hover {
    background-color: #007FFF; /* Change color on hover */
    border-color: #008080; /* Change border color on hover */
}

.table td {
    text-align: center; /* Center align the content in table cells */
}

.table th {
 	font-size: 18px;
	text-align: center;
}

.table-box {
  margin: 0 auto;
  width: 95%;
}

.heading {
	 text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

 .center-table {
            margin: center;
            padding: 40px;
            border: 4px solid #ccc;
        }






.navbar {
  margin-top: 5px; /* Vertical margin */
  margin-bottom: 5px; /* Vertical margin */
  width: 100%; /* Horizontal width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}









a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
  width: 320px;
  height: 220px;
  position: absolute;
  top: 100px;
  left: 120px;
  border: 1px solid black;
  padding: 10px;
}



